<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config />
	<bean id="studentbean" class="StudentTest.Student">
		<property name="person" ref="personbean"></property>
		<property name="course" ref="coursebean"></property>
	</bean>

	<bean id="personbean" class="StudentTest.Person">
		<property name="name" value="nandu"></property>
	</bean>
	<bean id="coursebean" class="java.lang.String">
		<constructor-arg value="MCA" />
	</bean>
	<bean id="studentbean2" class="StudentTest.ProfessionFactory">
	</bean>
	<bean id="studentbean3" 
		factory-method="getStudentInstance" factory-bean="studentbean2">
	</bean>

</beans>  